<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h4>输入一段想要分析的文字：</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <textarea rows="5" placeholder="please input ..." class="form-control" [formControl]="srcText"></textarea>
        </div>
        <span>{{srcTextContent}}</span>
        <button type="submit" class="btn btn-hero-info btn-demo btn-sm analyseSubmit" (click)="toAnalyse()">提交文本</button>
      </nb-card-body>
    </nb-card>
  </div>
  <router-outlet></router-outlet>
</div>
