<div class="bg-blue">
  <h2>功能特色</h2>
  <div class="row w">
    <div class="col-md-3">
      <i class="bg_blue pic"><img src="./../../../../assets/i-1.png" /></i>
      <h3>数据整合</h3>
      <span class="bottom-line bg_blue"></span>
      <dl class="pricing-features">
        <dd><i class="bg_blue"></i>微博数据</dd>
        <dd><i class="bg_blue"></i>微信公众号数据</dd>
        <dd><i class="bg_blue"></i>客户端数据</dd>
        <dd><i class="bg_blue"></i>视频数据</dd>
        <dd><i class="bg_blue"></i>新闻网站数据</dd>
        <dd><i class="bg_blue"></i>政务网站数据</dd>
        <dd><i class="bg_blue"></i>论坛数据</dd>
        <dd><i class="bg_blue"></i>电子报刊数据</dd>
        <dd><i class="bg_blue"></i>网站数据</dd>
        <dd><i class="bg_blue"></i>博客数据</dd>
        <dd><i class="bg_blue"></i>境外媒体数据</dd>
      </dl>
    </div>
    <div class="col-md-3">
      <i class="bg_army_green pic"><img src="./../../../../assets/i-2.png" /></i>
      <h3>数据处理</h3>
      <span class="bottom-line bg_army_green"></span>
      <dl class="pricing-features">
        <dd><i class="bg_army_green"></i>多维度呈现</dd>
        <dd><i class="bg_army_green"></i>追加并和</dd>
        <dd><i class="bg_army_green"></i>数据聚合</dd>
        <dd><i class="bg_army_green"></i>情感判断</dd>
        <dd><i class="bg_army_green"></i>水军分析</dd>
      </dl>
    </div>
    <div class="col-md-3">
      <i class="bg_cobalt_blue pic"><img src="./../../../../assets/i-3.png" /></i>
      <h3 class="spec_h3">可视化分析</h3>
      <span class="bottom-line bg_cobalt_blue"></span>
      <dl class="pricing-features">
        <dd><i class="bg_cobalt_blue"></i>筛选分析</dd>
        <dd><i class="bg_cobalt_blue"></i>拖拽分组</dd>
        <dd><i class="bg_cobalt_blue"></i>高级计算</dd>
        <dd><i class="bg_cobalt_blue"></i>对比拆分</dd>
        <dd><i class="bg_cobalt_blue"></i>数据预警</dd>
        <dd><i class="bg_cobalt_blue"></i>日周月报</dd>
        <dd><i class="bg_cobalt_blue"></i>图表联动</dd>
      </dl>
    </div>
    <div class="col-md-3">
      <i class="bg_orange pic"><img src="./../../../../assets/i-4.png" /></i>
      <h3 class="spec_h3">多终端支持</h3>
      <span class="bottom-line bg_orange"></span>
      <dl class="pricing-features">
        <dd><i class="bg_orange"></i>苹果IOS</dd>
        <dd><i class="bg_orange"></i>安卓系统</dd>
        <dd><i class="bg_orange"></i>PC显示器</dd>
        <dd><i class="bg_orange"></i>投影设备</dd>
        <dd><i class="bg_orange"></i>大屏系统</dd>
      </dl>
    </div>
  </div>
</div>
<div class="bg-white lineTop-solid">
  <h2>轻松实现数据监控</h2>
  <div class="row w">
    <div class="col-lg-6 pro-cont" style="margin-top: 80px;">
      <p class="pro-cont-p">“微舆情”利用独有的分布式网络技术，对互联网上舆情相关数据源进行完整采集，同时根据用户预定的监控关键词对全网数据进行补充获取。并可以在很短时间内收录到国内外重要网站、论坛、微博、微信公众号、贴吧、博客等互联网开放平台的相关信息，通过中文智能分词、自然语言处理、正负面研判等大数据处理技术对收录到的信息进行处理，发现涉及到用户的舆情信息，及时通过手机客户端、电子邮件、私信等方式进行报警。
      </p>
      <a href="" class="moreBtn">查看详情</a>
    </div>
    <div class="col-lg-6">
      <img src="./../../../../assets/pro-img1.png" />
    </div>
  </div>
</div>
<div class="bg-blue lineTop-solid">
  <h2>大数据分析工具</h2>
  <div class="row w1">
    <div class="col-lg-6 spec-img">
      <img src="./../../../../assets/pro-img2.png" />
    </div>
    <div class="col-lg-6 pro-cont" style="margin-top: 40px;">
      <p class="pro-cont-p">微舆情提供全网事件分析、微博话题分析、竞品分析、评论分析等大数据分析工具。只要输入近期事件或话题关键词，系统自动进行深度挖掘和多重分析，记录事件从始发到发酵期、发展期、高涨期、回落期和反馈期等阶段的演变过程，分析舆情传播路径、关键词云、发展态势、受众反馈和网民观点分析等，并支持对报告进行修改。
      </p>
      <a href="" class="moreBtn">查看详情</a>
    </div>
  </div>
</div>
<div class="bg-white lineTop-solid spec-div">
  <h2>智能生成各类可视化简报</h2>
  <div class="row w">
    <div class="col-lg-6 pro-cont" style="margin-top: 60px;">
      <p class="pro-cont-p">微舆情提供了政府单位、企业、个人等不同场景需要的简报服务，用户可通过完整的全量监测信息或筛选后的信息，一键生成想要的报告。微舆情报告类型丰富，可满足用户的不同需求。
      </p>
      <a href="" class="moreBtn">查看详情</a>
    </div>
    <div class="col-lg-6">
      <img src="./../../../../assets/pro-img3.png" />
    </div>
  </div>
</div>
