<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="input-group has-find-icon">
          <input type="text" placeholder="请输入搜索内容" class="form-control" [(ngModel)]="search" (keyup)="send($event)"/>
          <span class="input-group-btn">
            <button class="btn btn-success" [routerLink]="['/pages/structed/searchcontent']" [queryParams] = "{ search: search }">Go</button>
          </span>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>时事新闻</nb-card-header>
      <nb-card-body>
        div
      </nb-card-body>
    </nb-card>
  </div>
</div>
