.w {
  width: 1200px;
  margin: 0 auto;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
h2 {
  font-family: 微软雅黑;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
h4 {
  color: #5573b6;
}
p {
  color: #445069;
}
.last-seperator {
  margin-top: 30px;
}
