<div class="bg-white">
  <div class="w">
    <h2>团队介绍</h2>
    <div class="row last-seperator">
      <div class="col-lg-3">
        <img src="./../../../../assets/photo.jpg" />
      </div>
      <div class="col-lg-3">
        <h4>谭思翔 --- 组长</h4>
        <p>巴拉巴拉一堆介绍</p>
      </div>
      <div class="col-lg-3">
        <img src="./../../../../assets/photo.jpg" />
      </div>
      <div class="col-lg-3">
        <h4>刘成 --- 队员</h4>
        <p>巴拉巴拉一堆介绍</p>
      </div>
    </div>
    <div class="row last-seperator">
      <div class="col-lg-3">
        <img src="./../../../../assets/photo.jpg" />
      </div>
      <div class="col-lg-3">
        <h4>张芬奇 --- 队员</h4>
        <p>巴拉巴拉一堆介绍</p>
      </div>
      <div class="col-lg-3">
        <img src="./../../../../assets/photo.jpg" />
      </div>
      <div class="col-lg-3">
        <h4>黄鹏 --- 队员</h4>
        <p>巴拉巴拉一堆介绍</p>
      </div>
    </div>
    <div class="row last-seperator">
      <div class="col-lg-3">
        <img src="./../../../../assets/photo.jpg" />
      </div>
      <div class="col-lg-3">
        <h4>刘杰 --- 队员</h4>
        <p>巴拉巴拉一堆介绍</p>
      </div>
    </div>
  </div>
</div>
